{{#if next}}
  <div id="load-more" class="it-pagination lg:absolute lg:w-auto w-full text-center left-[30%] bottom-0">
    <button class="it-load-posts it-button it-button-primary">
     <img src={{asset 'img/loadmore.png'}}
    </button>
    
  </div>
{{/if}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  // Load more
    var pagination_next_url = $('link[rel=next]').attr('href');
    var  $load_posts_button = $('.it-load-posts');

    $load_posts_button.click(function (e) {
      console.log("clicked");
        e.preventDefault();

        var request_next_link = pagination_next_url.split(/page/)[0] + 'page/' + pagination_next_page_number + '/';

        $.ajax({
            url: request_next_link,
            beforeSend: function () {
                {{!-- $load_posts_button.text('{{t "Loading"}}'); --}}
                $load_posts_button.addClass('loading');
            }
        }).done(function (data) {
            var posts = $('.post', data);

            //$load_posts_button.text('{{t "Load More"}}');
            $load_posts_button.removeClass('loading');

            $('.it-postfeed').append(posts);
         //   var lazyLoadInstance = new LazyLoad({
          //      elements_selector: ".lazy",
          //      use_native: true
         //   });

            pagination_next_page_number++;

            // If you are on the last pagination page, add the disabled attribute
            if (pagination_next_page_number > pagination_available_pages_number) {
                $load_posts_button.attr('disabled', true);
            }
        });

    });

</script>


<script>
   
</script>