<footer class="container p-10 flex justify-between py-10 flex-wrap">
    <div class="order-2 lg:order-1 flex gap:1 lg:block">
        <img src="./assets/img/logo.png" alt="" />
        <p class="pt-8 text-base">Copyright &copy;
            <span class="font-semibold">Elio</span></p>
    </div>
    <div class="order-1 lg:order-2">
        <ul
            class="flex gap-4 justify-center md:gap-20 font-semibold text-lg flex-wrap"
        >
            {{navigation}}
            <li class=""><a href="{{url absolute="true"}}" class="">
                    Copyright © Elio</a></li>
        </ul>
    </div>
    <p
        class="self-center xl:self-end text-sm order-3 text-black/60 text-center lg:text-right pt-4 xl:pt-0 w-full xl:w-auto"
    >
        Privacy Policy &nbsp; • &nbsp; Terms and Conditions</p>

</footer>