{{#tag}}
<header class="min-h-[60vh] relative flex flex-col justify-between bg-black/50">
{{#if feature_image}}
<img
    src="{{feature_image}}"
    alt=""
    class="absolute w-full h-full left-0 bottom-0 object-cover z-[-1]"
  />
  />
  {{/if}}
  {{> "side-nav"}}

  <!-- single Slider Start -->
  <div
    class="container text-center mt-[10vh] px-8 md:px-32 text-white self-end z-10 pb-16 xl:absolute xl:left-1/2 xl:top-1/2 xl:-translate-x-1/2 xl:-translate-y-1/2"
  >
    <h1
      class="text-2xl md:text-4xl xl:text-[57px] font-semibold md:leading-[1.3]"
    >
     {{name}} 
    </h1>
    <h4
      class="text-base md:text-lg xl:text-xl pt-6 font-light inline-flex items-center capitalize"
    >
      {{description}}
    </h4>

  </div>

  <!-- Start Slider Pagination -->

  <!-- End Slider Pagination -->
</header>
{{/tag}}