{{!< default}}

<!-- blog aria Start -->
<main class="container flex p-3 sm:p-10 flex-wrap mt-2 sm:mt-12">
    <!-- blog part start -->
    <div class="flex gap-x-12 mr-1 xl:mr-10 flex-wrap blog_row_flex_basis">

        <!-- single blog start -->
        <div
            class="single_blog relative rounded-2xl bg-gradient-to-b from-transparent to-[#0000002e] w-full md:w-[45%] h-[463px] mb-14 overflow-hidden"
        >
            <img
                class="rounded-2xl w-full h-full z-[-1] object-cover"
                src="./assets/img/blogs/blog-9.jpg"
                alt=""
            />
            <div
                class="overflow-hidden inline-flex flex-col justify-end p-5 text-white blog_flex_basis group hover:shadow-xl absolute left-0 bottom-0 z-10"
            >
                <a href="" class="single_blog_category_btn">Travel</a>
                <a href="./single_blog.html" class="">
                    <h3 class="text-2xl font-bold py-2">Top 10 place to travel
                        with your family and enjoy and amazing time
                    </h3>
                </a>
                <div class="flex items-center gap-2 text-sm">
                    <a href="" class="capitalize">Ajmin pradhan</a>
                    <span class="w-1 h-1 bg-white rounded-full"></span>
                    <span class="lowercase">3 Min reading</span>
                </div>
                <!-- blog Social icon -->
                <div
                    class="social_icon text-2xl pt-2 invisible opacity-0 mb-[-55px]"
                >
                    <a href="" class="inline-block">
                        <img
                            src="./assets/img/Facebook.png"
                            class="h-8 align-middle"
                            alt=""
                        />
                    </a>

                    <a href="" class="inline-block">
                        <img
                            src="./assets/img/Twitter.png"
                            class="h-8 align-middle"
                            alt=""
                        />
                    </a>

                    <a href="" class="inline-block">
                        <img
                            src="./assets/img/Instagram.png"
                            class="h-8 align-middle"
                            alt=""
                        />
                    </a>

                    <a href="" class="inline-block">
                        <img
                            src="./assets/img/Snapchat.png"
                            class="h-8 align-middle"
                            alt=""
                        />
                    </a>
                </div>
            </div>
        </div>
        <!-- single blog end -->
        <!-- single blog start -->
        <div
            class="single_blog relative rounded-2xl bg-gradient-to-b from-transparent to-[#0000002e] w-full md:w-[45%] h-[463px] mb-14 overflow-hidden"
        >
            <img
                class="rounded-2xl w-full h-full z-[-1] object-cover"
                src="./assets/img/blogs/blog-6.jpg"
                alt=""
            />
            <div
                class="overflow-hidden inline-flex flex-col justify-end p-5 text-white blog_flex_basis group hover:shadow-xl absolute left-0 bottom-0 z-10"
            >
                <a href="" class="single_blog_category_btn">Travel</a>
                <a href="./single_blog.html" class="">
                    <h3 class="text-2xl font-bold py-2">Top 10 place to travel
                        with your family and enjoy and amazing time
                    </h3>
                </a>
                <div class="flex items-center gap-2 text-sm">
                    <a href="" class="capitalize">Ajmin pradhan</a>
                    <span class="w-1 h-1 bg-white rounded-full"></span>
                    <span class="lowercase">3 Min reading</span>
                </div>
                <!-- blog Social icon -->
                <div
                    class="social_icon text-2xl pt-2 invisible opacity-0 mb-[-55px]"
                >
                    <a href="" class="inline-block">
                        <img
                            src="./assets/img/Facebook.png"
                            class="h-8 align-middle"
                            alt=""
                        />
                    </a>

                    <a href="" class="inline-block">
                        <img
                            src="./assets/img/Twitter.png"
                            class="h-8 align-middle"
                            alt=""
                        />
                    </a>

                    <a href="" class="inline-block">
                        <img
                            src="./assets/img/Instagram.png"
                            class="h-8 align-middle"
                            alt=""
                        />
                    </a>

                    <a href="" class="inline-block">
                        <img
                            src="./assets/img/Snapchat.png"
                            class="h-8 align-middle"
                            alt=""
                        />
                    </a>
                </div>
            </div>
        </div>
        <!-- single blog end -->
        <!-- single blog start -->
        <div
            class="single_blog relative rounded-2xl bg-gradient-to-b from-transparent to-[#0000002e] w-full md:w-[45%] h-[463px] mb-14 overflow-hidden"
        >
            <img
                class="rounded-2xl w-full h-full z-[-1] object-cover"
                src="./assets/img/blogs/blog-8.jpg"
                alt=""
            />
            <div
                class="overflow-hidden inline-flex flex-col justify-end p-5 text-white blog_flex_basis group hover:shadow-xl absolute left-0 bottom-0 z-10"
            >
                <a href="" class="single_blog_category_btn">Travel</a>
                <a href="./single_blog.html" class="">
                    <h3 class="text-2xl font-bold py-2">Top 10 place to travel
                        with your family and enjoy and amazing time
                    </h3>
                </a>
                <div class="flex items-center gap-2 text-sm">
                    <a href="" class="capitalize">Ajmin pradhan</a>
                    <span class="w-1 h-1 bg-white rounded-full"></span>
                    <span class="lowercase">3 Min reading</span>
                </div>
                <!-- blog Social icon -->
                <div
                    class="social_icon text-2xl pt-2 invisible opacity-0 mb-[-55px]"
                >
                    <a href="" class="inline-block">
                        <img
                            src="./assets/img/Facebook.png"
                            class="h-8 align-middle"
                            alt=""
                        />
                    </a>

                    <a href="" class="inline-block">
                        <img
                            src="./assets/img/Twitter.png"
                            class="h-8 align-middle"
                            alt=""
                        />
                    </a>

                    <a href="" class="inline-block">
                        <img
                            src="./assets/img/Instagram.png"
                            class="h-8 align-middle"
                            alt=""
                        />
                    </a>

                    <a href="" class="inline-block">
                        <img
                            src="./assets/img/Snapchat.png"
                            class="h-8 align-middle"
                            alt=""
                        />
                    </a>
                </div>
            </div>
        </div>
        <!-- single blog end -->
        <!-- single blog start -->
        <div
            class="single_blog relative rounded-2xl bg-gradient-to-b from-transparent to-[#0000002e] w-full md:w-[45%] h-[463px] mb-14 overflow-hidden"
        >
            <img
                class="rounded-2xl w-full h-full z-[-1] object-cover"
                src="./assets/img/blogs/blog-11.jpg"
                alt=""
            />
            <div
                class="overflow-hidden inline-flex flex-col justify-end p-5 text-white blog_flex_basis group hover:shadow-xl absolute left-0 bottom-0 z-10"
            >
                <a href="" class="single_blog_category_btn">Travel</a>
                <a href="./single_blog.html" class="">
                    <h3 class="text-2xl font-bold py-2">Top 10 place to travel
                        with your family and enjoy and amazing time
                    </h3>
                </a>
                <div class="flex items-center gap-2 text-sm">
                    <a href="" class="capitalize">Ajmin pradhan</a>
                    <span class="w-1 h-1 bg-white rounded-full"></span>
                    <span class="lowercase">3 Min reading</span>
                </div>
                <!-- blog Social icon -->
                <div
                    class="social_icon text-2xl pt-2 invisible opacity-0 mb-[-55px]"
                >
                    <a href="" class="inline-block">
                        <img
                            src="./assets/img/Facebook.png"
                            class="h-8 align-middle"
                            alt=""
                        />
                    </a>

                    <a href="" class="inline-block">
                        <img
                            src="./assets/img/Twitter.png"
                            class="h-8 align-middle"
                            alt=""
                        />
                    </a>

                    <a href="" class="inline-block">
                        <img
                            src="./assets/img/Instagram.png"
                            class="h-8 align-middle"
                            alt=""
                        />
                    </a>

                    <a href="" class="inline-block">
                        <img
                            src="./assets/img/Snapchat.png"
                            class="h-8 align-middle"
                            alt=""
                        />
                    </a>
                </div>
            </div>
        </div>
        <!-- single blog end -->

        <!-- Load More start -->
        <div class="w-full flex justify-center max-h-20"><img
                src="./assets/img/loadmore.png"
                alt=""
            /></div>
        <!-- Load More End -->

    </div>
    <!-- blog part End -->
    <!-- side bar start -->
    <div class="lg:w-4/12 sm:w-10/12 sm:mr-auto sm:ml-auto pt-8 lg:pt-0">
        <!-- Recent Post Start -->
        <div>
            <h4
                class="text-xl font-medium bg-white boxshadow py-3 pl-2 w-full border-b-8 border-solid border-yellow-500 rounded-xl boxshadow"
            >
                Recent post
            </h4>
            <!-- Single Recent Posts Start -->
            <div
                class="flex justify-between w-full bg-white rounded-2xl gap-5 mt-4 p-3 Single_blog_box_shadow"
            >
                <img
                    class="max-h-[85px] w-1/4 rounded-xl object-cover self-center"
                    src=" ./assets/img/blogs/blog.jpg"
                    alt="Block Images"
                />
                <div class="flex flex-col gap-2 w-3/4">
                    <h3 class="font-medium text-[15px]">10 Amazing places to
                        visit with your family in your free time
                    </h3>
                    <div
                        class="flex gap-2 items-center text-[#C2C2C2] text-sm pt-3"
                    >
                        <p class="">Ajmin Pradhan</p>
                        <span class="w-1 h-1 bg-[#C2C2C2] rounded-full"></span>
                        <p class="">3 min reading</p>
                    </div>
                </div>
            </div>
            <!-- Single Recent Posts End -->

        </div>
        <!-- Recent Post Start -->

        <!-- Catoryies Start -->
        <div class="categoryies mt-14 rounded-3xl">
            <h4
                class="text-xl font-medium bg-white boxshadow py-3 pl-2 w-full border-b-8 border-solid border-yellow-500 rounded-xl boxshadow"
            >
                categoryies post
            </h4>
            <!-- Single Recent Post -->
            <ul class="w-full bg-white rounded-2xl boxshadow mt-4 p-3">
                <li class="bg-[#FFCA4214] rounded-xl my-2">
                    <a
                        href=""
                        class="flex justify-between font-medium text-[15px] items-center px-4 py-2"
                    >
                        Travel
                        <span
                            class="py-[4px] px-[10px] bg-[#FFCA42] rounded-3xl text-xs"
                        >5</span>
                    </a>
                </li>
                <li class="bg-[#FFCA4214] rounded-xl my-2">
                    <a
                        href=""
                        class="flex justify-between font-medium text-[15px] items-center px-4 py-2"
                    >
                        Travel
                        <span
                            class="py-[4px] px-[10px] bg-[#FFCA42] rounded-3xl text-xs"
                        >5</span>
                    </a>
                </li>
                <li class="bg-[#FFCA4214] rounded-xl my-2">
                    <a
                        href=""
                        class="flex justify-between font-medium text-[15px] items-center px-4 py-2"
                    >
                        Travel
                        <span
                            class="py-[4px] px-[10px] bg-[#FFCA42] rounded-3xl text-xs"
                        >5</span>
                    </a>
                </li>

            </ul>

        </div>
        <!-- Catoryies End -->

        <!-- Newsletter Start -->
        <div class="categoryies mt-14">
            <h4
                class="text-xl font-medium bg-white py-3 pl-2 w-full border-b-8 border-solid border-yellow-500 rounded-xl"
            >
                Newsletter
            </h4>
            <!-- Single Recent Post -->
            <div class="bg-white rounded-2xl mt-4 p-2 boxshadow">
                <form action="" class="flex justify-center items-center">
                    <input
                        class="w-10/12 p-3 bg-[#FFFBF0] rounded-[15px] mx-1 my-3 focus:outline-none"
                        type="email"
                        name=""
                        id=""
                        placeholder="Inter your email address..."
                    />
                    <button
                        type="submit"
                        class="w-12 h-10 bg-[#FFCA42] rounded-full"
                    ><i class="far fa-paper-plane text-lg"></i></button>
                </form>
            </div>
        </div>
        <!-- Newsletter End -->
    </div>
    <!-- Side bar End -->
</main>