@tailwind base;
@tailwind components;
@tailwind utilities;

/* font Family  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* cusotm fonts  */
.primary_fonts {
  font-family: "Poppins", sans-serif;
}
.zIndex-1 {
  z-index: -1;
}
.topVh_85 {
  top: 85vh;
}

.slider_single {
  @apply bg-theme_overlay bg-blend-overlay bg-cover bg-center pt-36 md:pt-48  w-full h-screen bg-no-repeat;
}
.slider_single h1 {
  line-height: 1.3 !important;
}
.slider {
  @apply top-0 left-0;
  position: absolute I !important;
}

.owl-dots {
  @apply absolute bottom-10  flex gap-8;
  left: 8%;
}
@media (min-width: 780px) {
  .owl-dots {
    left: 10%;
  }
}
.owl-dot {
  @apply w-10 h-1 cursor-pointer rounded-xl;
  background-color: #fff !important;
}
.owl-dot:hover {
  background-color: #00ff29 !important;
}
.owl-dot.active {
  background-color: #00ff29 !important;
}
.side_nav {
  @apply fixed bg-black left-0 top-0 h-screen w-screen pt-10 p-8 rounded-xl;
  display: block !important;
  opacity: 0.9;
  z-index: 9;
}
.side_nav li {
  padding-top: 30px;
}
.hambarger_nav.nav_open {
  @apply fixed text-white text-4xl right-1/2;
  z-index: 99;
}
.blog_flex_basis {
  flex: 1 1 10%;
  min-width: 300px;
}
.blog_row_flex_basis {
  flex: 1 1 580px;
}
/* blog single */
.single_blog {
  @apply bg-cover bg-center bg-no-repeat;
}
.single_blog_category_btn {
  @apply bg-accent_color text-black py-1 px-3 rounded-xl text-xs w-max font-roboto;
}

.line_height_social {
  line-height: 0.8;
  @apply rounded;
}
.single_blog:hover .social_icon {
  @apply mb-0 visible opacity-100;
  transition: all linear.3s;
}
.boxshadow {
  box-shadow: 0px 4px 4px 0px rgba(135, 206, 235, 0.25);
}
.Single_blog_box_shadow {
  box-shadow: 0px 0px 10px -4px rgba(135, 206, 235, 0.25);
}
